div[data-app="true"] {
  background: url("../assets/bg.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
}

.container-app-layout {
  display: flex;
  align-content: flex-start;
}

.card-component {
  background-color: rgba(255, 255, 255, 0.897);
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.logo {
  width: 100px;
}

.pizza-container {
  width: 40%;
}
.pizza {
  margin: auto;
  display: block;
}

.v-input--radio-group--row .v-input--radio-group__input {
  justify-content: center;
}

#loading {
  -webkit-animation: rotation 12s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container-app-layout {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pizza {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pizza {
    width: 100%;
  }

  #loading {
    position: fixed;
    width: 290px;
    margin-left: 20px;
  }
}
